

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 5rem;

    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--card-color);
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-img-link {
    padding:0.2rem 0.4rem;
    border:1px solid #ccc;
    border-radius:0.8rem;
}
.footer-img-link:hover {
    transform: scale(1.2);
}
.footer-img {
    height: 2rem;
    width: 2rem;
    border:1px solid
}
.footer-img:hover {
    transform: scale(1.2);
}

.footer-img path {
    fill: var(--logo-color);
}

.footer-icon {
    color: red;
    font: 500 1.25rem 'Inter', sans-serif;
}